
body {
  margin-left: 0;
  margin-top:0;
  overflow-x: hidden;
}

#mapid {
  z-index: 0;
  height: 100vh;
  width: 100vw;
}

/* #profile-name {
  text-align: center;
} */

.profile-pic {
    border-radius: 50%;
}

.hide-button {
}

.blue {
  background: blue;
}
.red {
  background: red;
}

.show-button {
  position: absolute;
  top: 65px;
  left: 15px;
  z-index: 9;
}


.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


.route-info {
  color: rgb(107, 107, 107)
}

.searchBar {
  z-index: 10;
  position: absolute;
  top: 65px;
  left: 15px;
  background: white;
  border-radius: 3px;
  display: none;
  animation-name: slideMenu;
  animation-duration: 0.3s;
}

@keyframes slideMenu {
  from {left: -300px;}
  to {left: 15px;}
}
.fa{
    font-family: FontAwesome;
  }


  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #59add1;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #59add1;
    cursor: pointer;
  }

.cyan {
  background:rgb(0, 116, 128);
}
.cyan-dark {
  background:rgb(3, 90, 99);
}
.white-text {
  color: white;
}
.white {
  color: white;
  background: white;
}

.social-link:hover {
  color: white
}
