{% extends "layout.html" %}
{% block title %}Biken{% endblock %}

{% block content %}

  <div id="mapid"></div>

  <button id="searchShowButton" class="btn btn-primary my-2 show-button" onclick="showSearchBar()">></button>


  <div id="searchBar"class="searchBar px-2 border border-primary rounded">
          <!-- Default switch -->
    <div class="custom-control custom-switch py-2">
      <input type="checkbox" name="checkbox-mode" class="custom-control-input" id="customSwitches">
      <label class="custom-control-label" id="switch-type-label" for="customSwitches">Itinerary</label>
    </div>
    <form >
      <div class="">
        <div class="form-group">
          <input type="text" class="form-control" id="start" placeholder="Choose starting point">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="finish" placeholder="Choose destination">
        </div>
        <div class="form-group">
          <input type="range" min="1" max="300" value="50" class="slider" id="distanceSlider" hidden>
          <p id="slider-value" hidden></p>
        </div>
      </div>
    </form>
    <div class="route-info">
      <div id="total-distance"  hidden></div>
      <div id="itineraryTime" hidden></div>
      <div id="geolocalisationTime" hidden></div>

    </div>
    <button class="btn btn-primary my-2" onclick="sendRequest()">Let's Go !</button>
    <button id="searchHideButton" class="btn btn-primary my-2 hide-button" onclick="hideSearchBar()"><</button>

  </div>

  <script src="../static/map.js" charset="utf-8"></script>
  <script src="../static/main.js" charset="utf-8"></script>
  {% endblock %}
