{% extends "layout.html" %} {% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/features.css') }}"
/>

<section id="profile">
  <div class="container">
    <h2 class="pt-4">Main features</h2>
    <hr />
    <ul>
      <li>Generating itinerary between two points</li>
      <li>
        Generating a random route of a certain size around a certain position
      </li>
      <li>View the distance of the itinerary</li>
      <li>Saving itineraries</li>
      <li>Exporting itineraries to GPX files</li>
      <li>Synchronisation with Strava activity</li>
      <li>Login with Google, Strava or classic authentification</li>
      <li>Easy account binding</li>
      <!-- , just add your Strava account when logged with Google and the two accounts will be linked. You will be able to login with either Google or Strava -->
    </ul>

    <h2 class="pt-4">Next features</h2>
    <hr />
    <ul>
      <li>Show elevation along the path</li>
      <li>Add waypoints and modify a route</li>
      <li>Modify your past Strava activities</li>
      <li>Sharing an itinerary</li>
    </ul>
  </div>
</section>

{% endblock %}
