
{% extends "layout.html" %}

{% block content %}

<div class="screen">
  <div id="mapid"></div>
</div>

<div id="alertContainer">

</div>

<div class="row justify-content-center" id="info-bottom" hidden>
  <div id="info-container" class="col" >
    <div class="row justify-content-center text-center">
      <div id="itinerary-distance" class="col-md-6 my-3 col-sm-12">
      </div>
      <div id="itinerary-time" class="col-md-6 my-3 col-sm-12">
      </div>
    </div>
    <button type="button" id="close-info-cross" name="button" onclick="closeInfo()"><i class="close-button fa-2x fa fa-times-circle"></i></button>
    <div id="elevation-container" class="row justify-content-center text-center" hidden>
      <canvas id="elevationChart" width="400" height="70"></canvas>
    </div>

  </div>
</div>

<div class="loader-container">
  <div class="loader" id="loader" hidden>
  <svg width="300" height="300" viewBox="0 0 1280 720" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g id="bikenLogo">
  <g id="bottom-circle">
  <ellipse cx="262" cy="475.5" rx="218" ry="95.5" fill="#A5EFC3"/>
  <ellipse cx="262" cy="475.5" rx="218" ry="95.5" fill="url(#paint0_linear)"/>
  </g>
  <ellipse id="background" cx="261.5" cy="464" rx="172.5" ry="71" fill="#481CFA"/>
  <g id="pin">
  <path id="Ellipse 1" d="M356 236C356 291.228 311.228 336 256 336C200.772 336 156 291.228 156 236C156 180.772 200.772 136 256 136C311.228 136 356 180.772 356 236Z" fill="white"/>
  <path id="Polygon 1" d="M256 468L159.005 263.25H352.995L256 468Z" fill="white"/>
  <circle id="Inner" cx="256" cy="236" r="50" fill="#4958DF"/>
  </g>
  </g>
  <defs>
  <linearGradient id="paint0_linear" x1="396.5" y1="348" x2="187.5" y2="557" gradientUnits="userSpaceOnUse">
  <stop stop-color="white"/>
  <stop offset="1" stop-color="#4BEB65" stop-opacity="0"/>
  </linearGradient>
  </defs>
  </svg>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="../static/js/map.js" charset="utf-8"></script>
<script src="../static/js/main.js" charset="utf-8"></script>


<script>

  if ({{itinerary|tojson}}!=undefined)
  {
    itinerary = {{itinerary|tojson}};

    if(itinerary!=undefined) {
      getElevation(itinerary.waypoints)


      displayRoute(itinerary.waypoints);


      startPoint = {lat : itinerary.waypoints[0][0],lon : itinerary.waypoints[0][1]}
      finishPoint = {lat : itinerary.waypoints[itinerary.waypoints.length -1][0],lon : itinerary.waypoints[itinerary.waypoints.length - 1][1]}

      pointList = [startPoint,finishPoint];

      if (startPoint.lat!=finishPoint.lat &&  startPoint.lon!=finishPoint.lon) {
        displayStartFinish(pointList);
      }
      else {
        displayMarker(startPoint);

        // Fit the itinerary in the screen
        fitItinerary(itinerary.waypoints);
      }

      showSummary(itinerary)
    }
  }
</script>


{% endblock %}
