{% extends "layout.html" %} {% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/profile.css') }}"
/>
<script
  type="text/javascript"
  src="https://rawgit.com/jieter/Leaflet.encoded/master/Polyline.encoded.js"
></script>

<script src="../static/js/utils.js" charset="utf-8"></script>

<!-- Error handling -->
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ message }}
</div>
{% endfor %}

<section id="profile">
  <div class="container">
    <div class="row py-4">
      <div class="col-12 text-center">
        <h1>Hi {{current_user.name}} !</h1>
      </div>
    </div>

    <h2 class="pt-4">Your saved itineraries</h2>
    <hr />

    <script src="../static/js/profile.js" charset="utf-8"></script>

    {% if not itineraries %}
    <div class="text-center py-4">
      <h2>You haven't saved any itinerary.</h2>
      <p>
        To save an itinerary, just click on the save button when you have
        created an itinerary
      </p>
    </div>

    {% else %} {% for itinerary in itineraries %}
    <div class="row my-3 mx-3 py-3 justify-content-center itinerary-container">
      <a
        class="col-lg-6 col-sm-12"
        href="/home?itinerary={{itinerary.itineraryIdentifier}}"
      >
        <div
          class="mapPreview"
          id="mapPreview{{itinerary.itineraryIdentifier}}"
        ></div>
      </a>
      <div class="info-container text-center col-lg-6 col-sm-12">
        <div id="header-row" class="row pt-2 justify-content-center">
          <div class="col">
            <h3 id="activityName{{itinerary.itineraryIdentifier}}">
              {{itinerary.name}}
            </h3>
          </div>
        </div>

        <div id="stat-row" class="row justify-content-center">
          <div class="text-left info-detail">
            <div class="label-up">Distance</div>
            <b class="info">{{(itinerary.distance/1000)|round(1)}} km</b>
          </div>

          <div class="text-left info-detail">
            <div class="label-up">Duration</div>
            {% if itinerary.duration//60 > 1 and itinerary.duration%60 >1 %}
            <b class="info"
              >{{itinerary.duration//60}} hours and {{itinerary.duration%60}}
              minutes
            </b>
            {% elif itinerary.duration//60 > 1 and itinerary.duration%60 ==1 %}
            <b class="info"
              >{{itinerary.duration//60}} hours and {{itinerary.duration%60}}
              minute
            </b>
            {% elif itinerary.duration//60 > 1 and itinerary.duration%60 ==0 %}
            <b class="info">{{itinerary.duration//60}} hours</b>

            <!-- More than 1 hour -->
            {% elif itinerary.duration//60 == 1 and itinerary.duration%60 >1 %}
            <b class="info"
              >{{itinerary.duration//60}} hour and {{itinerary.duration%60}}
              minutes
            </b>
            {% elif itinerary.duration//60 == 1 and itinerary.duration%60 ==1 %}
            <b class="info"
              >{{itinerary.duration//60}} hour and {{itinerary.duration%60}}
              minute
            </b>
            {% elif itinerary.duration//60 == 1 and itinerary.duration%60 ==0 %}
            <b class="info">{{itinerary.duration//60}} hour</b>

            <!-- Less than 1 hour -->
            {% elif itinerary.duration//60 == 0 and itinerary.duration%60 >1 %}
            <b class="info">{{itinerary.duration%60}} minutes </b>
            {% elif itinerary.duration//60 == 0 and itinerary.duration%60 == 1
            %}
            <b class="info">{{itinerary.duration%60}} minute </b>
            {%endif%}
          </div>
        </div>

        <hr />

        <div id="button-row" class="row justify-content-center">
          <div class="col">
            <button
              type="button"
              class="btn btn-primary"
              name="button"
              onclick="editName('{{itinerary.itineraryIdentifier}}')"
            >
              Change Name
            </button>
          </div>
          <div class="col">
            <button
              type="button"
              class="btn btn-primary"
              name="button"
              onclick="exportGPX('{{itinerary.itineraryIdentifier}}','{{itinerary.name}}')"
            >
              Download GPX
            </button>
          </div>
          <div class="col">
            <button
              type="button"
              class="btn btn-danger"
              name="button"
              onclick="deleteItinerary('{{itinerary.itineraryIdentifier}}')"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">


      var polyline{{itinerary.itineraryIdentifier}} = L.Polyline.fromEncoded('{{itinerary.polyline}}');
      var coordinates{{itinerary.itineraryIdentifier}} = polyline{{itinerary.itineraryIdentifier}}.getLatLngs();

      var start{{itinerary.itineraryIdentifier}} = L.latLng(coordinates{{itinerary.itineraryIdentifier}}[0].lat, coordinates{{itinerary.itineraryIdentifier}}[0].lng);
      var end{{itinerary.itineraryIdentifier}} = L.latLng(coordinates{{itinerary.itineraryIdentifier}}[coordinates{{itinerary.itineraryIdentifier}}.length-1].lat, coordinates{{itinerary.itineraryIdentifier}}[coordinates{{itinerary.itineraryIdentifier}}.length-1].lng);

      console.log("Start:",start{{itinerary.itineraryIdentifier}});
      console.log("End:",end{{itinerary.itineraryIdentifier}});

      var mapPreview{{itinerary.itineraryIdentifier}} = L.map('mapPreview{{itinerary.itineraryIdentifier}}',{ zoomControl: false,dragging:false }).setView(start{{itinerary.itineraryIdentifier}},11);

      L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
          maxZoom: 18,
          id: 'mapbox/streets-v11',
          tileSize: 512,
          zoomOffset: -1,
          accessToken: 'pk.eyJ1IjoiYmlrZW5kZXYiLCJhIjoiY2tndXZ6ZG1sMHo5ODJ6cDlmZjFoMWdheSJ9.Z8rE4hBJxztTXy5EX5mMUw'
      }).addTo(mapPreview{{itinerary.itineraryIdentifier}});


      var bounds{{itinerary.itineraryIdentifier}} = L.latLngBounds(start{{itinerary.itineraryIdentifier}}, end{{itinerary.itineraryIdentifier}});


      // Show route
      polyline{{itinerary.itineraryIdentifier}}.setStyle({
          color: '#F67C5A'
      });
      polyline{{itinerary.itineraryIdentifier}}.addTo(mapPreview{{itinerary.itineraryIdentifier}});

      if ((start{{itinerary.itineraryIdentifier}}.lat!=end{{itinerary.itineraryIdentifier}}.lat) && (start{{itinerary.itineraryIdentifier}}.lng!=end{{itinerary.itineraryIdentifier}}.lng)) {
        // If itinerary
        var marker1 = L.marker(start{{itinerary.itineraryIdentifier}}).addTo(mapPreview{{itinerary.itineraryIdentifier}});
        var marker2 = L.marker(end{{itinerary.itineraryIdentifier}}).addTo(mapPreview{{itinerary.itineraryIdentifier}});
        mapPreview{{itinerary.itineraryIdentifier}}.fitBounds(bounds{{itinerary.itineraryIdentifier}});
      }
      else {
        // If route
        var marker1 = L.marker(start{{itinerary.itineraryIdentifier}}).addTo(mapPreview{{itinerary.itineraryIdentifier}});
        mapPreview{{itinerary.itineraryIdentifier}}.flyTo(start{{itinerary.itineraryIdentifier}});
      }
    </script>

    {%endfor%}
  </div>

  {%endif%}
</section>

{% endblock %}
