{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

  <div class="login-form">

    <!-- Error handling -->
    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
    {% endfor %}
    {% if form.name.errors %}
      <div class="alert alert-warning">
        {% for error in form.name.errors %}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ error }}{% endfor %}
      </div>
    {% endif %}
    {% if form.email.errors %}
      <div class="alert alert-warning">
        {% for error in form.email.errors %}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ error }}{% endfor %}
      </div>
    {% endif %}
    {% if form.password.errors %}
      <div class="alert alert-warning">
        {% for error in form.password.errors %}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ error }}{% endfor %}
      </div>
    {% endif %}
    {% if form.confirm.errors %}
      <div class="alert alert-warning">
        {% for error in form.confirm.errors %}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ error }}{% endfor %}
      </div>
    {% endif %}


    <p class="text-center login-title">Sign Up</p>
    <div class="text-center">
      <img src="{{ url_for('static', filename='biken.svg') }}" width="100px" height="100px" class="logo" alt="logo"/>
    </div>

    <form method="POST" action="/signup">
      {{ form.csrf_token }}

      <fieldset class="name txtb">
        {{ form.name.label }}
        {{ form.name(placeholder='John Smith') }}
      </fieldset>

      <fieldset class="email txtb">
        {{ form.email.label }}
        {{ form.email(placeholder='youremail@example.com') }}
      </fieldset>

      <fieldset class="password txtb">
        {{ form.password.label }}
        {{ form.password }}
      </fieldset>

      <fieldset class="confirm txtb">
        {{ form.confirm.label }}
        {{ form.confirm }}
      </fieldset>

      <!-- <div class="submit-button">
        {{ form.submit }}
      </div> -->
      <input type="submit" class="logbtn" value="Sign Up">
    </form>
    <div class="pt-2 ">
      <div id="my-signin2"></div>
      <script>
        function onSuccess(googleUser) {
          console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
        }
        function onFailure(error) {
          console.log(error);
        }
        function renderButton() {
          gapi.signin2.render('my-signin2', {
            'scope': 'profile email',
            'width': 240,
            'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': onSuccess,
            'onfailure': onFailure
          });
        }
      </script>

      <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    </div>

    <div class="login-signup text-center">
      <span>Already have an account? <a href="{{ url_for('auth_bp.login') }}">Log in.</a></span>
    </div>
  </div>
{% endblock %}
