
body {
  margin-left: 0;
  margin-top:0;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: rgb(240, 240, 245);
  font-family: 'Roboto', sans-serif;
}

#mapid {
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100vw;
}

/* Route info */

#info-bottom {
  position: fixed;
  z-index: 100;
  bottom: 10px;
  width: 100vw;
  margin:0;
}

#elevationChart {
  /* max-width: 400px; */
  padding-right: 10px;
}

#close-info-cross {
    position: absolute;
    top: -10px;
    right: -15px;
    border:none;
    background: none;
}

.close-button {
  color: rgb(171, 171, 171);
}

#info-container {
  background: white;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 4px;
  box-shadow: 2px 2px 2px #888888;
  max-width: 400px;
}


/* End Route info */


.screen {
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: auto;
  height: auto;
}

@media (max-width: 768px) {
  .screen {
    top: 56px;
  }
}

/* Loader */

.loader-container {
  position: absolute;
  top: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.loader {
width: 150px;
height: 150px;

}

#pin {
  animation: updown 2s linear infinite;
}

@keyframes updown {
  0% { transform: translate(0,-20px); }
  50% { transform: translate(0,40px); }
  100% { transform: translate(0,-20px); }

}


/* Save info  */

/* The alert message box */
#alertContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;

}

.alert {
  background-color: #f44336; /* Red */
  color: white;

}

.alert.warning {
  background-color: #ff9800; /* Orange */
}

.alert.success {
  background-color: #4CAF50; /* Green */
}


/* .success {
  position: absolute;
  top: 80px;
  background-color: #4CAF50;
  color: white;
  margin-left: auto;
  margin-right: auto;
} */


.dropdown-divider {
  color: rgb(236, 0, 0) !important;
  background: rgb(235, 226, 32) !important;
  background-color: rgb(233, 14, 188) !important;
}

/* .warning-box {
  position: fixed;
  top:70px;
  width: 100%;
  background: rgb(14, 205, 142);
  height: 100px;
} */



/* #profile-name {
  text-align: center;
} */

.profile-pic {
    border-radius: 50%;
}

.hide-button {
}

.blue {
  background: blue;
}
.red {
  background: red;
}

.show-button {
  position: absolute;
  top: 65px;
  left: 15px;
  z-index: 9;
}


.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}




.route-info {
  color: rgb(107, 107, 107)
}

.searchBar {
  z-index: 10;
  position: absolute;
  top: 65px;
  left: 15px;
  background: white;
  border-radius: 3px;
  display: none;
  animation-name: slideMenu;
  animation-duration: 0.3s;
}

@keyframes slideMenu {
  from {left: -300px;}
  to {left: 15px;}
}
.fa{
    font-family: FontAwesome;
  }
.fas{
    font-family: FontAwesome;
  }


  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #59add1;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #59add1;
    cursor: pointer;
  }
