
body {
  margin-left: 0;
  margin-top:0;
}

#mapid {
  z-index: 0;
  height: 100vh;
  width: 100vw;
}

#requestForm {
padding: 10px 10px 10px 10px;

}

.searchBar {
  z-index: 10;
  position: absolute;
  top: 50px;
  left: 50px;
  background: white;
  border-radius: 3px;
}


.buttonSend {
  margin-top: 10px;
  border: 1px solid red;
  padding: 10px 20px 10px 20px;
}
.buttonSend:hover {
  margin-top: 10px;
  border: 1px solid red;
  background: grey;
  padding: 10px 20px 10px 20px;
}

.fa{
    font-family: FontAwesome;
  }
